<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
</head>
<body>
    <center>
        <h1>render is used to get information to the templates</h1>
        <marquee><h2>by using render function to get rendering process like html page </h2></marquee>
        <h3>also render is used to return the response in the form of http</h3>
        <marquee><h2>by using render function to get rendering process like html page </h2></marquee>
    </center>
</body>
</html>
